.cardcontainer{
    height: 35vh;
    width: 60vw;
    margin-top: 25px;
    margin-left: 45px;
    display: flex;
    border: 1px solid;
    border-radius: 5px;
}

.icon{
    width: 300px;
}

.boxcontainer{
    display: block;
    justify-content: start;
    align-items: left;
    margin: 20px;
}